
.box-layout {
  align-items: center;
  background:url('/public/dist/images/bg.jpg');
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.box-layout__box {
  background: fade-out(white, .15);
  border-radius: 3px;
  padding: 4.2rem 3rem;
  text-align: center;
  width: 35rem;
}

.box-layout__title {
  margin: 0 0 $m-size 0;
  line-height: 1;
}

